<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
    <body class="container">
      <header>
      <% include ./partials/navbar %>
    </header>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>Presenting...</h1>
                <p>Welcome to the Home page for Back end API test, get started by creating a developer account and logging in (via Github). Or looking over the documentation first</p>
                <li><a href="/home">Log in Page</a></li>
            
                <li><a href="/docs">See Documentation here</a></li>
            </div>
        </section>





        <% include ./partials/scripts %>

    </body>

</html>
