<!DOCTYPE html>
<html>

    <head>
        <% include ./partials/head %>
    </head>
        <body class="container">
          <header>
          <% include ./partials/navbar %>
        </header>

        <div>
        <h1>Create a Developer Account now</h1>

        <p>Hang on, we will redirect you to Github and once you're back you will have a brand new account. Ready?
            <a href="/auth/github" class="btn btn-info" role="button">Login with GitHub</a>
            </p>
    </div>
  </body>
</html>
